/*
rest  element
*/

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;

}

img{
   max-width: 100%;
   display: block;
   border: solid 0.25px rgb(189, 185, 185);
}

h1, h2{
    text-align: center;
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: white;
}

/*
header style
*/

.header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* css flex */

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}

/* css grid*/

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 20px;
}
.grid > div:nth-child(n+4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.anuncio{
    grid-column: 1;
    grid-row: 2/5;
}

/* Grid 2 css*/

.grid2{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.sidebar > div{
    margin-bottom: 10px;
}

@media (max-width:650px) {
    .grid2{
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: flex;
        overflow: scroll;
    }

    .sidebar > div{
        flex: 1 0 300px;
        margin: 0 10px;
    }
}

/*
Grid 3 CSS
*/

.grid3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 20px;
}

.grid3-item:nth-child(1){
    grid-row: 1/3;
   
}

.grid3-item{
    display: grid;
}

.grid3-item img{
    grid-column: 1;
    grid-row: 1/3;
}

.grid3-item p {
    background-color: rgba(0, 0, 0,0.6);
    color: white;
    grid-column: 1;
    grid-row: 2;
}