*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
	scroll-behavior: smooth;
}

body, ul, li, p{
    list-style: none;
    font-family:'Lato', sans-serif;
    font-size:16px
}

a{
    color: rgb(255, 242, 242);
    text-decoration: none; 
    
}

p{
    font-size: 1em;
    color: rgb(15, 15, 15);
}

h1, h2{
    text-align: center;
}

img{
    max-width: 100%;
    display: block;
 }

 .container{
	margin: 0px;
	background: #ffffff;
    margin-top: 65px;
}
