*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
	scroll-behavior: smooth;
}

body, ul, li, p{
    list-style: none;
    font-family:'Lato', sans-serif;
    font-size:16px
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none; 
}

p{
    font-size: 1em;
    color: white;
}

h1, h2{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    display: block;
 }

 .container{
	margin: 0px;
	background: #1b1d20;
}
