/* importe fontes */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=IBM+Plex+Sans:ital,wght@0,500;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

b{
    color: #49da79;
}

body{
    font-family: 'Pacifico';
}

html{
	scroll-behavior: smooth;  
}

body, ul, li, p{
    list-style: none;
    font-family:'Lato', sans-serif;
    font-size:16px
}

.header a,li{
    color: #49da79;
}

.menu li a:hover{
    border-bottom: 1px solid #49da79;
    transition: 1.5s ease;
}

a{
    color: rgb(228, 220, 220);
    text-decoration: none; 
    cursor: pointer; 
}

input{
    width: 500px;
    height: 40px;
    border: rgba(5, 5, 199, 0.315) solid 0.25px;
}

.imge{
    
    margin-left: 50%;
}
