
footer {
    position: absolute;
    background-color: black;
    color: rgb(245, 245, 245);
    padding: 30px;
    width:100%;
    text-align: center;
}

.header{
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0;
    height:65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    background-color: #530ab3;
    border-bottom: rgb(131, 126, 125) 1px solid;
}

.log-titulo{
    margin-left: 80px;
    font-size: 18pt;
}

.menu{
    display: flex;
}

.menu li{
    font-size: 13pt;
    font-weight: bolder;
    margin-left: 10px;
    padding: 10px;
}

.menu li a:hover{
    color: rgb(234, 0, 255);
    border-bottom: rgb(12, 12, 12) solid 1px;
    transition: 2s ease;
}

.hero{
    background-image: url(../img/hero.png);
    min-height: 800px;
    background-size: cover;
    color: rgb(12, 14, 160);
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.hero h1{
    font-size: 3rem;
    color: rgb(4, 19, 46);
    margin:20px;

}

.hero h3{
    width: 900px;
    font-size: 2rem;
    color: rgba(4, 19, 46);
    margin-bottom: 10px;
    text-align: end;
}

.hero a{
    border-radius: 28px;
    border: rgba(218, 214, 214, 0.37) solid 0.5px;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.267);
    font-size: 12pt;
    color: rgb(66, 61, 61);
    justify-items: start;
    font-weight: bold;
}

.hero a:hover{
    background-color: rgba(231, 229, 229, 0.815);
    transition: 2s ease;
    color: rgb(0, 0, 0);
}

#servico{
    position: relative;
    max-width: 1300px;
    margin: auto;
}

#servico .item{
    display: flex;
    background-color: rgba(177, 177, 202, 0.973);
    height: 450px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;
}

.item article{
    display: inline-block;
    background: rgba(104, 102, 102, 0.267);
  min-width: 200px;
  height: 400px;
  margin-right: 1rem
}

#protfolio{
    background-color: rgb(255, 254, 254);
    color: red;
}

.section-contacto{
    display: flex;
    color: rgb(22, 21, 21);
    text-align: center;
    background-color: rgb(242, 243, 239);
    justify-content: space-between;
    
}

.div-social{
    display: flex;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-social > a{
    width: 100%;
}

.dviv-social{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100px;
    margin: 0 auto;
    grid-gap: 10px;
}

#fotoperfil{
    border-radius: 100%;
}

.container-slides{
    max-width: 100%;
    position: relative;
    margin: auto;
    
}

.item-slides{
    display: none;
    transition: 1s all;

}

.next, .prev{
    margin-top: 20px;
    padding: 22px;
    cursor: pointer;
    top: 50%;
    width: auto;
    font-size: 28px;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.863);
    user-select: none;
    position: absolute;
    margin-top: -22px;
    
}

.next{
    right: 0;
}
.prev{
    left: 0;
}


.next:hover, .prev:hover{
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.658);
    color: rgb(240, 228, 228);
}
