
footer {
    position: absolute;
    background-color: black;
    color: white;
    padding: 30px;
    width:100%;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    height:70px;
    align-items: center;
    background-color: rgb(235, 231, 231);
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
    padding: 10px;
}

.menu li a:hover{
    color: rgb(9, 170, 245);
    border-bottom: rgb(12, 12, 12) solid 1px;
}

#protfolio{
    background-color: rgb(143, 143, 143);
    padding: 200px;
    color: red;
}

.section-contacto{
    display: flex;
    color: rgb(22, 21, 21);
    text-align: center;
    background-color: rgb(242, 243, 239);
    justify-content: space-between;
    
}

.div-social{
    display: flex;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-social > a{
    width: 100%;
}

.dviv-social{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100px;
    margin: 0 auto;
    grid-gap: 10px;
}

